.about {
  padding-top: 93px;
  padding-bottom: 93px;
  &__content {
    max-width: 605px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  &__image {
    max-width: 464px;
    width: 100%;
  }
}
