.contacts {
  padding-top: 60px;
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }
    gap: 10px;
  }
  &__image {
    max-width: 400px;
    width: 100%;
    @media screen and (max-width: 1200px) {
      order: 1;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.contacts-information {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}
