.main {
  padding-top: 62px;
  padding-bottom: 62px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &__image {
    max-width: 448px;
    width: 100%;
    @media (max-width: 1200px) {
      max-width: 350px;
    }
    @media (max-width: 768px) {
      max-width: 200px;
    }
  }
  &__content {
    max-width: 549px;
  }
  &__heading {
    color: $text-main-heading;
    font-size: 45px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}
