.price {
  padding-top: 40px;
  padding-bottom: 115px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.price-content-left {
  max-width: 332px;
  width: 100%;
  display: flex;
  gap: 38px;
  flex-direction: column;
}

.price-content-right {
  max-width: 452px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 38px;
  &__image {
    max-width: 152px;
    width: 100%;
  }
}
