.tabDetail {
  position: relative;
  transition: 0.5s ease;

  &[open] {
    background-color: transparent;
  }
  &__heading {
    background-color: $bg-section;
    font-size: 20px;
    line-height: 18px;
    border-radius: 20px;
    font-weight: 700;
    padding: 16px 40px;
    list-style: none;
    color: $text-black-color;
    transition: 1s ease;
    cursor: pointer;
    position: relative;
    &__hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &[open] &__heading {
    z-index: 10;
    background-color: $bg-active;
    &:after {
      display: block;
      width: 164px;
      height: 0.5px;
      background-color: #aea1a1;
      content: "";
      left: 50%;
      margin-left: -82px;
      position: absolute;
      bottom: 0;
    }
  }
  &[open] .arrow {
    &:after {
      transform: rotate(225deg);
      margin-top: -1px;
      margin-left: -2px;
    }
  }
  &__content {
    padding: 40px 40px 16px 40px;
    display: flex;
    top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    background-color: $bg-active;
    border-radius: 20px;
    z-index: 5;
  }
  &__description {
    font-size: 10px;
    font-weight: 300;
    color: $text-main-heading;
    line-height: 10px;
    margin: 0;
  }
  &__sum {
    font-size: 12px;
    line-height: 20px;
    color: $text-black-color;
    margin: 0;
    span {
      font-weight: 700;
      font-size: 16px;
      color: $text-active;
    }
  }
  &__btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    color: $text-main-heading;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    padding: 2.5px 5px;
    min-width: 86px;
    text-decoration: none;
    box-sizing: border-box;
  }
}
