html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $font-height-base;
  font-style: normal;
  color: $text-primary-color;
  display: flex;
  flex-direction: column;
}

.section-heading {
  color: $text-black-color;
  font-size: 40px;
  font-weight: 700;
  font-family: $font-primary;
  margin: 0;
  line-height: 50px;
  &_secondary {
    font-family: $font-secondary;
    color: $text-green-color;
  }
  &_right {
    text-align: right;
  }
  &_center {
    text-align: center;
  }
}

.green-emphasizing {
  color: $text-green-color;
}

.red-emphasizing {
  color: $text-active;
}

.grey-bg {
  background-color: $bg-section;
}

.arrow {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  margin-top: -8px;
  background-color: #d9d9d9;
  right: 40px;
  &:after {
    width: 4px;
    height: 4px;
    border: 1px solid $text-main-heading;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 50%;
    margin-left: -2px;
    content: "";
    display: block;
  }
}
