html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $font-height-base;
  font-style: normal;
  color: $text-primary-color;
}

.section-heading {
  color: $text-black-color;
  font-size: 40px;
  font-weight: 700;
  font-family: $font-primary;
  margin: 0;
  line-height: 50px;
}

.green-emphasizing {
  color: $text-green-color;
}
