.fullHeight {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding-left: 109px;
  padding-right: 109px;
  @media (max-width: 800px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &_bottom {
    justify-content: space-between;
  }
}

div.isVisible {
  visibility: visible;
}

.serviceWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 100px;
  row-gap: 50px;
  @media (max-width: 1400px) {
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.buttons-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
